<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        <%= data.title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body class="container">
    <div class="container">   
        <h1 class="mt-4 mb-5">プロフィール編集</h1>
        <form method="post" action="/user/<%= data.user.id %>/update" enctype="multipart/form-data">
            <input type="hidden" name="id" value="<%= data.user.id %>">
            <div class="form-group mb-4">
            <label for="B_Name">ユーザー画像</label>
            <br>
            <input type="file" name="uploadFile">
            </div>

            <div class="form-group mb-4">
            <label for="B_Name">ユーザー名</label>
            <input type="text" name="name" class="form-control" value="<%= data.user.name %>" required>
            </div>
        
            <div class="form-group mb-4">
            <label for="B_address">自己紹介</label>
            <input type="text" name="selfIntroduction" class="form-control" value="<%= data.user.selfIntroduction %>">
            </div>

            <div class="form-group mb-4">
            <label for="B_address">メールアドレス</label>
            <input type="email" name="email" class="form-control" value="<%= data.user.email %>" placeholder="Email address" required>


            <div class="form-group mb-4">
            <label for="B_address">パスワード</label>
            <input type="text" name="password" class="form-control" value="<%= data.user.password %>" required>
            </div>

            <div class="form-group mb-4">
            <label for="B_address">パスワード確認</label>
            <input type="text" name="passwordConfirm" class="form-control" value="<%= data.user.password %>" required>
            </div>
    
            <div>
                <input type="submit" value="送信" class="btn btn-primary col-2">
            </div>
        </form>
        <a href="/events" class="btn btn-lite">トップへ</a>
    </div>

</body>

</html>