<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        <%= data.title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <br>
    <br>
    <h3><%= data.title %></h3>

    <div class="container">
        <a href="/userSearch">ユーザー検索</a>
         
        <% for(let i in data.content.article) { %>
        <div class="card">
            <div class="card-body"> 
            <div style="float:right"><%= data.content.article[i].updatedAt %></div>          
            <%if (data.content.article[i].User.image != null) {%>
                <img src="https://eventernagamori.s3-ap-northeast-1.amazonaws.com/users/<%= data.content.article[i].User.image %>" width="5%" height="5%" class="flex-row-reverse rounded-circle"/>
            <% } else { %>
                <img src="https://eventernagamori.s3-ap-northeast-1.amazonaws.com/fixedImage/noperson.jpg" width="5%" height="5%" class="flex-row-reverse rounded-circle"/>
            <% } %>
            <p class="card-text"><a href="/user/<%= data.content.article[i].User.id %>"><%= data.content.article[i].User.name %></a></p>
            <p class="card-text"><%= data.content.article[i].detail %></p>
            <%if (data.content.article[i].image != null) {%>
                <img src="/img/uploard_articles/<%= data.content.article[i].image %>" width="30%" height="30%" class="flex-row-reverse"/>
            <% } %>
            <br>
            <%if (data.content.isLike[i] == 'doLike') {%>
                <form method="post" action="/articles/Like">
                    <input type="hidden" name="userId" value="<%= data.login.id %>">
                    <input type="hidden" name="articleId" value="<%= data.content.article[i].id %>">
                    <button class="" style="color: orangered; border:none; background-color:white;" type="submit"><span class="fa fa-heart"></span></button>
                    <%= data.content.article[i].LikedUser.length %>
                </form>
            <% } %>
            <%if (data.content.isLike[i] == 'yetLike') {%>
                <form method="post" action="/articles/Like">
                    <input type="hidden" name="userId" value="<%= data.login.id %>">
                    <input type="hidden" name="articleId" value="<%= data.content.article[i].id %>">
                    <button style="border:none; background-color:white;" type="submit"><span class="fa fa-heart"></span></button>
                    <%= data.content.article[i].LikedUser.length %>
                </form>
            <% } %>
            <!-- コメントする -->
            <a href="#comment_<%= data.content.article[i].id %>" data-toggle="modal"><i class="far fa-comment"></i></a><span> <%= data.content.article[i].Comment.length %>件</span>
            <br>
            <br>
            <!-- コメント一覧 -->
            <% if (data.content.article[i].Comment != null) { %>
                <% for(let n in data.content.article[i].Comment) { %>
                    <h6 class="card-title"><%= data.content.article[i].Comment[n].body %></h6>
                    <p class="card-text"><%= data.content.article[i].Comment[n].updatedAt %></p>
                <% } %>
            <% } %>
            
            <div class="modal fade" id="comment_<%= data.content.article[i].id %>" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button class="close" data-dismiss="modal"><span>&times;</span></button>
                        <!-- コメントを書く -->
                        <form method="post" action="/articles/commentAdd">
                            <input type="hidden" name="articleId" value="<%= data.content.article[i].id %>">
                            <div class="form-group mb-4">
                            <label for="B_address">コメント</label>
                            <textarea type="text" name="body" class="form-control" rows="5"></textarea>
                            <ul class="text-danger">
                                <% if (data.err!=null) { for (let i in data.err.get("body")) { %>
                                    <li>
                                        <%= data.err.get("body")[i].message %>
                                    </li>
                                <% }} %>
                            </ul>
                            <div>
                                <input type="submit" value="送信" class="btn btn-primary col-2">
                            </div>
                        </form>
                    </div>
                  </div>
                </div>
            </div>

            </div>
        </div><br>
        <% } %>
    </div>

<script src="/src/public/javascripts/jquery-3.3.1.slim.min.js"></script>
<script src="/src/public/javascripts/bootstrap.bundle.min.js"></script>
</body>

</html>