<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        <%= data.title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="row" style="margin-top: 23px;">
        <!-- サイドバー -->
        <div class="col-2">
            <nav class="navbar-dark bg-dark" style="height:1000px;">
                <!-- タグで絞る -->
                <div class="navbar-brand">タグ</div>
                <ul class="navbar-nav">
                <% if (data.Tags!=null) { for (let n in data.Tags) { %>
                <li class="nav-item"><a href="/events/search/<%= data.Tags[n].name %>" class="nav-link"><%= data.Tags[n].name %></a></li>
                <% }} %>
                </ul>
            </nav>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-12"><h3>あなたが参加するイベント</h3></div>
            </div>
            <div class="row">
                <% for(let i in data.content.event) { %>
                    <div class="col-6" style="padding-bottom: 2rem;" >
                        <div class="row">
                            <!-- image -->
                            <div class="col-6" style="height:150px;">
                                <%if (data.content.event[i].image != null) {%>
                                <img src="/images/<%= data.content.event[i].image %>" width="100%" height="100%" class="flex-row-reverse"/>
                                <% } else {%>
                                <img src="/images/noimage-1.jpg" width="100%" height="100%" class="flex-row-reverse"/>
                                <% } %>
                            </div>
                            <div class="col-6">
                                <dl>
                                    <!-- holdDate -->
                                    <dd><%= data.content.holdDate[i].Year %>年<%= data.content.holdDate[i].Month %>月<%= data.content.holdDate[i].Date %>日</dd>
                                    <!-- title -->
                                    <a href="events/show/<%= data.content.event[i].id %>">
                                        <h3><%= data.content.event[i].title %></h5>
                                    </a>
                                    <!-- subTitle -->
                                    <dd><%= data.content.event[i].subTitle %></dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>


<script src="/javascripts/jquery-3.3.1.slim.min.js"></script>
<script src="/src/public/javascripts/bootstrap.bundle.min.js"></script>
<script src="/src/public/javascripts/jquery-3.3.1.slim.min.js"></script>
</body>
</html>