<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        <%= data.title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />

</head>

<body>
    <header>
            <img src="/images/eventList.png %>"  width="100%" height="100%" class="flex-row-reverse"/>
    </header>

        <div class="row">
            <!-- サイドバー -->
            <div class="col-2">
                <nav class="navbar-dark bg-dark" style="height:1000px;">
                    <!-- タグで絞る -->
                    <div class="navbar-brand">タグ</div>
                    <ul class="navbar-nav">
                    <% if (data.Tags!=null) { for (let n in data.Tags) { %>
                    <li class="nav-item"><a href="/events/search/<%= data.Tags[n].name %>" class="nav-link"><%= data.Tags[n].name %></a></li>
                    <% }} %>
                    </ul>
                    <!-- 一番人気のイベント -->
                    <div class="navbar-brand">人気のイベント</div>
                    <ul class="navbar-nav">
                    <li class="nav-item"><a href="/events/show/<%= data.maxFavoriteEvent.id %>" class="nav-link"><%= data.maxFavoriteEvent.title %></a></li>
                    <li class="nav-item"><a href="/events/show/<%= data.secondFavoriteEvent.id %>" class="nav-link"><%= data.secondFavoriteEvent.title %></a></li>

                    </ul>
                </nav>
            </div>
            <div class="col-9">
                <div class="row">
                    <div class="col-12"><h3>新着情報</h3></div>
                </div>
                <div class="row">
                    <% for(let i in data.content.event) { %>
                        <div class="col-6" style="padding-bottom: 2rem;" >
                            <div class="row">
                                <!-- image -->
                                <div class="col-6" style="height:150px;">
                                    <%if (data.content.event[i].image != null) {%>
                                    <img src="/img/upload_events/<%= data.content.event[i].image %>" width="100%" height="100%" class="flex-row-reverse"/>
                                    <% } else {%>
                                    <img src="/img/upload_events/noimage.jpg" width="100%" height="100%" class="flex-row-reverse"/>
                                    <% } %>
                                </div>
                                <div class="col-6">
                                    <!-- edit delete -->
                                    <%if (data.content.event[i].userId == data.login.id) {%>
                                    <div class="ml-auto card-text" style="float: right;">
                                        <div class="dropdown">
                                          <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                          </a>
                                          <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="events/edit/<%= data.content.event[i].id %>">
                                              <i class="fas fa-pen mr-1"></i>記事を更新する
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="events/delete/<%= data.content.event[i].id %>">
                                                <i class="fas fa-trash-alt mr-1"></i>記事を削除する
                                            </a>
                                          </div>
                                        </div>
                                    </div>
                                    <% } %>

                                    <dl>
                                        <!-- holdDate -->
                                        <dd><%= data.content.holdDate[i].Year %>年<%= data.content.holdDate[i].Month %>月<%= data.content.holdDate[i].Date %>日</dd>
                                        <!-- title -->
                                        <a href="events/show/<%= data.content.event[i].id %>">
                                            <h5><%= data.content.event[i].title %></h5>
                                        </a>
                                        <!-- subTitle -->
                                        <dd><%= data.content.event[i].subTitle %></dd>
                                    </dl>
                                    <!-- Tag -->
                                    <ul class="list-inline">
                                        <% if (data.content.event[i].Tag!=null) { for (let n in data.content.event[i].Tag) { %>
                                            <li class="list-inline-item bg-info text-white p-1" style="border-radius: 0.7em;"><%= data.content.event[i].Tag[n].name %></li>
                                        <% }} %>
                                    </ul>
                                    <!-- Join -->
                                    参加状況: <br><%= data.content.event[i].User.length %> /<%= data.content.event[i].capacity %>人 (定員)
                                    <!-- Favorite -->
                                    <br>
                                    <br>
                                    お気に入り登録者: <br><%= data.content.event[i].UserFavorite.length %>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>


<script src="/javascripts/jquery-3.3.1.slim.min.js"></script>
<script src="/src/public/javascripts/bootstrap.bundle.min.js"></script>
<script src="/src/public/javascripts/jquery-3.3.1.slim.min.js"></script>
</body>
</html>