<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        <%= data.title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Google Maps</title>
    <style>
    #map {
        height: 100%;
    }
    </style> 
    </head>

</head>


<body>
    <header>
            <img src="https://eventernagamori.s3-ap-northeast-1.amazonaws.com/fixedImage/eventDetail.png %>"  width="100%" height="100%" class="flex-row-reverse"/>
    </header>

    <h2><%= data.event.title %></h2>
    <hr class="mt-0 mb-2">
    <p><%= data.event.subTitle %></p>
    <nav>
        <ul class="list-inline">
            <% if (data.event.Tag!=null) { for (let i in data.event.Tag) { %>
                <li class="list-inline-item bg-info text-white p-1" style="border-radius: 0.7em;"><%= data.event.Tag[i].name %></li>
            <% }} %>
        </ul>
    </nav>

  <div class="row">
        <div class="col-6">
            <%if (data.event.image != null) {%>
                <img src="https://eventernagamori.s3-ap-northeast-1.amazonaws.com/events/<%= data.event.image %>" width="80%" height="80%" class="flex-row-reverse"/>
            <% } else {%>
                <img src="https://eventernagamori.s3-ap-northeast-1.amazonaws.com/fixedImage/noimage-1.jpg" width="100%" height="100%" class="flex-row-reverse"/>
            <% } %>
            <%if (data.isJoin == false) {%>
            <a href="/events/joinPayment/<%= data.event.id %>" class="btn btn-outline-info shadow-sm mb-5 rounded btn-lg btn-block">このイベントに参加する</a>
            <% } else { %>
                <form method="post" action="/events/join">
                    <p>※ すでにこのイベントに申し込んでいます</p>
                    <input type="hidden" name="userId" value="<%= data.login.id %>">
                    <input type="hidden" name="eventId" value="<%= data.event.id %>">
                    <input class="btn btn-outline-info shadow-sm mb-5 rounded btn-lg btn-block" type="submit" value="イベント参加をキャンセルする">
                </form>
            <% } %>
        </div>

        <div class="col-6">
            <%if (data.isFavorite == true) {%>
                <form method="post" action="/events/Favorite">
                    <input type="hidden" name="userId" value="<%= data.login.id %>">
                    <input type="hidden" name="eventId" value="<%= data.event.id %>">
                    <button style="border:none; background-color:white; color:greenyellow; font-size: 20px;" type="submit"><i class="fas fa-star"></i></button>お気に入りです
                </form>
            <% } %>
            <%if (data.isFavorite == false) {%>
                <form method="post" action="/events/Favorite">
                    <input type="hidden" name="userId" value="<%= data.login.id %>">
                    <input type="hidden" name="eventId" value="<%= data.event.id %>">
                    <button style="border:none; background-color:white;" type="submit"><span class="far fa-star">お気に入りに登録する</span></button>
                </form>
            <% } %>
            <hr class="mt-0 mb-2">
        
            詳細
            <hr class="mt-0 mb-2">
            <div class="tab-content bg-light p-3">
                <%= data.event.detail %>
            </div>
            主催
            <hr class="mt-0 mb-2">
            <div class="tab-content bg-light p-3">
                <%if (data.writter.image != null) {%>
                    <img src="https://eventernagamori.s3-ap-northeast-1.amazonaws.com/users/<%= data.writter.image %>" width="5%" height="5%" class="flex-row-reverse rounded-circle"/>
                <% } else { %>
                    <img src="https://eventernagamori.s3-ap-northeast-1.amazonaws.com/fixedImage/noperson.jpg" width="5%" height="5%" class="flex-row-reverse rounded-circle"/>
                <% } %>    
                <a href="/user/<%= data.writter.id %>"><%= data.writter.name %></a>
            </div>
            参加人数
            <hr class="mt-0 mb-2">
            <div class="tab-content bg-light p-3">
                <%= data.event.User.length %>/<%= data.event.capacity %>(定員)
            </div>
            料金
            <hr class="mt-0 mb-2">
            <div class="tab-content bg-light p-3"  id="price">
                <%= data.event.price %> 円
            </div>
            お気に入りにされた数
            <hr class="mt-0 mb-2">
            <div class="tab-content bg-light p-3">
                <%= data.event.UserFavorite.length %>
            </div>
            会場
            <hr class="mt-0 mb-2">
            <div class="tab-content bg-light p-3" id="address">
                <%= data.event.address %>
            </div>
            <div id="map"></div> 
            
        </div>
    </div>
</body>

<script> 
    const googleMapApiKey = require('../../config/googleMapApiKey');

    console.log(googleMapApiKey)

    function initMap() { 
        let latNumber;
        let lngNumber;
        const addressId = document.getElementById('address').textContent
        const address = addressId;
        const url = 
        "https://maps.googleapis.com/maps/api/geocode/json?language=ja&address=" + 
        address + 
        "&key=XXXXXXXXXXXX&callback=initMap";

        fetch(url)
        .then(response => response.json())
        .then(data => {
            latNumber = data.results[0].geometry.location.lat;
            lngNumber = data.results[0].geometry.location.lng;
        })
        .then( () => {
            let map = new google.maps.Map(document.getElementById('map'), { 
            center: { lat: latNumber, lng: lngNumber }, 
            zoom: 17 
            })
            let marker = new google.maps.Marker({ 
                    position: { lat: latNumber, lng: lngNumber }, 
                    map: map 
            })
        })
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=XXXXXXXXXX&callback=initMap" 
async defer></script>

</html>